<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>Public:</strong>
  <%= @album.public %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @album.rating %>
</p>

<ul>
  <%= render partial: 'album_photo', collection: @photos, as: 'photo' %>
</ul>


<%= link_to 'Add photo', new_album_photo_path(@album) %> |
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
