<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Album:</strong>
  <%= @photo.album.try(:title) %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to(image_tag(@photo.file.url(:thumb)), @photo.file.url) %>
</p>

<%= link_to 'Edit', edit_album_photo_path(@album, @photo) %> |
<%= link_to 'Back to album', @album %>
